{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas/edit" >
<div class="container">

	<div class="col-xs-offset-1 col-xs-3">
	
	 <h2><b> Edicion</b> </h2>
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre" value="{{receta.Nombre}}"> 
		 
	  </div>
	  
	  <hr><div class="input-group">
	  	  <label for="nombre">Imagen (url)</label>
		  <input type="text" class="form-control" name="url" value="{{receta.UrlImagen}}">
	  </div>
	  
	  
	
		<hr><label>Cantidad de Calorias</label>
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Calorias" name="calorias" value="{{receta.CantCalorias}}">
		</div>
  
		<hr><div class="form-group">
        	
        	    <label class="dificultad">Dificultad </label>
            	<select class="form-control" name="dificultad">
            	    <option value=""></option>
                	<option value="ALTA">ALTA</option>
                	<option value="MEDIA">MEDIA</option>
                	<option value="BAJA">BAJA</option>
                	<option selected="selected">{{receta.Dificultad}}</option>
                	
            	</select>
        	
    	</div>
   
 
		<hr><div class="form-group">
        	
        	    <label class="temporada">Temporada</label>
            	<select class="form-control" name="temporada" selected="{{receta.Temporada}}">
            	    <option value=""></option>
                	<option value="PRIMAVERA">PRIMAVERA</option>
                	<option value="VERANO">VERANO</option>
                	<option value="OTOÑO">OTOÑO</option>
                	<option value="INVIERNO">INVIERNO</option>
                	<option value="TODOELAÑO">TODOELAÑO</option>
                	<option selected="selected">{{receta.Temporada}}</option>
                	
                	
            	</select>
        	
    	</div>
    		
    
  </div>
	

		<div class="col-xs-offset-0 col-md-8">	
		
		<h2 style="text-align: center"><b> Caraceteristicas</b> </h2>
			
			
	
	     <div class="col-xs-offset-2 col-xs-8">
	      		 <div class="input-group">
		  			 <label for="ingrediente"> <b>ingredientes </b></label> <br>
		  			 <input type="text"  name="ingrediente"  size="30"> 		  
		  			 <button type="button" class="btn btn-default btn-sm">Agregar</button>
		  		 </div>  <br> 
		
		      	<div class="input-group">
		    		 <select multiple class="form-control" style="width:245px">
  						{{#ingredientes}}
  						<option>{{Nombre}}</option>
  	        			{{/ingredientes}}
		   			</select>
		  			 <button type="button" class="btn btn-default btn-sm">Eliminar</button> 
		    	</div>
		  </div>	
		   
		 
		  <div class="col-xs-offset-1 col-xs-9">

 			  <hr>
 			<h4><b> Condimentaciones: </b> </h4>
 				<div class="input-group">
 					<div class="col-xs-5">
  					<label for="condimentacion">Condimento</label>
 					 <input class="form-control" id="condimentacion" type="text"  placeholder="Nombre">
					</div>
					
					<div class="col-xs-3">
  					<label for="cantidad">Cantidad</label>
  					<input type="number" class="form-control" placeholder="Grs" name="cantidad" >
  					
					</div>
					
					<div class="col-xs-3">
					
					<label for="cantidad" style="color: #FFFFFF">_____ </label>
  					<button type="button" class="btn btn-default  btn-sm">
 						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir
					</button>
					</div>
 				</div>
 				  <hr>
			<table 	class="table table-hover">
	   			<thead>
        			<tr>
	        			<th>Condimento</th>
						<th>Cantidad</th>		
				    </tr>
			    </thead>
			    <tbody>
			   
				   	{{#each receta.Condimentaciones}}
		      			<tr>
					        <td>{{this.Condimento}}</td>
					        <td>{{this.Cantidad}}</td>
				      	</tr>
				 	{{/each}}
				 </tbody>				
				 </table>
			
		  </div>	
		   
		   
		  
	
</div>

	

	<div class="col-xs-offset-3 col-xs-8">
	<hr><label>Proceso de preparacion </label>
		
		  <textarea class="form-control" rows="4" name="proceso">
		  {{receta.Preparacion}}
		  </textarea>
		  
			<br>  <button type="button" class="btn btn-primary pull-right">
 			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
			</button>
			
			
			<a  href="/recetas/show?id={{receta.Id}}" class="btn btn-default pull-left">
    			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span> Cancelar
    		</a>	
		</div>

</div>



</form>


{{/partial}}
				
{{> layout.hbs }}