{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas/edit" >
<div class="container">

	<div class="col-xs-offset-1 col-xs-3">
	
	 <h2><b> Edicion</b> </h2>
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre" value="{{receta.Nombre}}"> 
		 
	  </div>
	  
	  <hr><div class="input-group">
	  	  <label for="nombre">Imagen (url)</label>
		  <input type="text" class="form-control" name="url" value="{{receta.UrlImagen}}">
	  </div>
	  
	  
	
		<hr><label>Cantidad de Calorias</label>
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Calorias" name="calorias">
		</div>
  
		<hr><div class="form-group">
        	
        	    <label class="dificultad">Dificultad </label>
            	<select class="form-control" name="dificultad">
            	    <option value=""></option>
                	<option value="ALTA">ALTA</option>
                	<option value="MEDIA">MEDIA</option>
                	<option value="BAJA">BAJA</option>
                	<option selected="selected">{{receta.Dificultad}}</option>
                	
            	</select>
        	
    	</div>
   
 
		<hr><div class="form-group">
        	
        	    <label class="temporada">Temporada</label>
            	<select class="form-control" name="temporada" selected="{{receta.Temporada}}">
            	    <option value=""></option>
                	<option value="PRIMAVERA">PRIMAVERA</option>
                	<option value="VERANO">VERANO</option>
                	<option value="OTOﾃ前">OTOﾃ前</option>
                	<option value="INVIERNO">INVIERNO</option>
                	<option value="TODOELAﾃ前">TODOELAﾃ前</option>
                	<option selected="selected">{{receta.Temporada}}</option>
                	
                	
            	</select>
        	
    	</div>
    		
    
  </div>
	

		<div class="col-xs-offset-0 col-md-8">	
		
		<h2 style="text-align: center"><b> Caraceteristicas</b> </h2>
			<hr><blockquote>
	<table class="table table-hover" >
		<thead>
			<tr>
			    <th>Id</th>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		{{#recetas}}
			<tr class="clickeable" onclick="window.document.location='/recetas/show?id={{Id}}';">
				<td>{{Id}}</td>
				<td>{{Nombre}}</td>
				<td>{{CantCaloriasTotales}}</td>
				<td>{{Dificultad}}</td>
				<td>{{Temporada}}</td>
			</tr>
		{{/recetas}}	
			</blockquote>	
	</table>
	</div>



	<div class="col-xs-offset-3 col-xs-8">
	<hr><label>Proceso de preparacion </label>
		
		  <textarea class="form-control" rows="4" name="proceso">
		  {{receta.Preparacion}}
		  </textarea>
		  
			<br>  <button type="button" class="btn btn-primary pull-right">
 			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
			</button>
			
			
			
			<a align="center" href="/recetas/show?id={{receta.Id}}" class="btn btn-default pull-left">
    			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span> Cancelar
    		</a>	
		</div>

</div>



</form>




</div>

{{/partial}}
				
{{> layout.hbs }}