{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas/edit" >
<div class="container">

	<div class="col-xs-offset-1 col-xs-3">
	
	 <h2><b> Edicion</b> </h2>
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre" value="{{receta.Nombre}}"> 
		 
	  </div>
	  
	  <hr><div class="input-group">
	  	  <label for="nombre">Imagen (url)</label>
		  <input type="text" class="form-control" name="url" value="{{receta.UrlImagen}}">
	  </div>
	  
	  
	
		<hr><label>Cantidad de Calorias</label>
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Calorias" name="calorias" value="{{receta.CantCalorias}}">
		</div>
  
		<hr><div class="form-group">
        	
        	    <label class="dificultad">Dificultad </label>
            	<select class="form-control" name="dificultad">
				  	{{#each dificultades}}
					  	<option value={{this}}>{{this.prettyName}}</option>
				  	{{/each}}
				  	<option value={{receta.dificultad}} selected="selected">{{receta.dificultad.prettyName}}</option>
            	</select>
        	
    	</div>
   
 
		<hr><div class="form-group">
        	
        	    <label class="temporada">Temporada</label>
            	<select class="form-control" name="temporada" selected="{{receta.Temporada}}">
				  	{{#each temporadas}}
					  	<option value={{this}}>{{this.prettyName}}</option>
				  	{{/each}}
                	<option value={{receta.Temporada}} selected="selected">{{receta.Temporada.prettyName}}</option>
            	</select>
        	
    	</div>
    		
    
  </div>
	

		<div class="col-xs-offset-0 col-md-8">	
		
		<h2 style="text-align: center"><b> Caraceteristicas</b> </h2>
			
			
	
	     <div class="col-xs-6">
	      		 <div class="input-group">
		  			 <label for="ingrediente"> <b>ingredientes </b></label> <br>
		  			 <input type="text"  name="ingrediente"  size="30"> 		  
		  			 <button type="button" class="btn btn-default btn-sm">Agregar</button>
		  		 </div>  <br> 
		
		      	<div class="input-group">
		    		 <select multiple class="form-control" style="width:245px">
  						{{#ingredientes}}
  						<option>{{Nombre}}</option>
  	        			{{/ingredientes}}
		   			</select>
		  			 <button type="button" class="btn btn-default btn-sm">Eliminar</button> 
		    	</div>
		  </div>	
		   
		   
		   
		   <div class="col-xs-6">
	      			 <div class="input-group">
		  				 <label for="Condicion"> <b>Inadecuado Para </b></label> <br>
		  				 
		  				 	<select class="form-control" style="width:245px">
		  				 	<option value=""></option>
                				<option value="Vegano">Vegano</option>
                				<option value="Hipertenso">Hipertenso</option>
                				<option value="Celiaco">Celiaco</option>
                				<option value="Diabetico">Diabetico</option>
            					</select>	  
		   				 <button type="button" class="btn btn-default btn-sm">Agregar</button>
		  			 </div><br> 
		    
		     		 <div class="input-group">
		    			 <select multiple class="form-control" style="width:245px">
  							{{#each recetas.CondicionesDeSalud}}
  							<option>{{this.Nombre}}</option>
							{{/each}}
		 				  </select>
		   				<button type="button" class="btn btn-default btn-sm">Eliminar</button> 
		   				 </div>
		   </div>	
	
</div>

	

	<div class="col-xs-offset-3 col-xs-8">
	<hr><label>Proceso de preparacion </label>
		
		  <textarea class="form-control" rows="4" name="proceso">
		  {{receta.Preparacion}}
		  </textarea>
		  
			<br>  <button type="button" class="btn btn-primary pull-right">
 			<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
			</button>
			
			
			<a  href="/recetas/show?id={{receta.Id}}" class="btn btn-default pull-left">
    			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true" ></span> Cancelar
    		</a>	
		</div>

</div>



</form>


{{/partial}}
				
{{> layout.hbs }}