{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<div class="container">

	<div class="row">
	    <h3>Editando: <a href="/recetas/{{receta.Id}}/show">{{receta.Nombre}}</a></h3>
	    <hr>
	    <!-- tabs left -->
	    <div class="tabbable">
	        <div class="col-md-2">
		        <div class="row">
			        <ul class="nav nav-pills nav-stacked col-md-12">
			            <li class="active"><a href="#a" data-toggle="tab">Datos Básicos</a></li>
			            <li><a href="#b" data-toggle="tab">Ingredientes</a></li>
			            <li><a href="#c" data-toggle="tab">Condimentaciones</a></li>
			            <li><a href="#d" data-toggle="tab">Subrecetas</a></li>
			        </ul>
		        </div>
			</div>
	        <div class="tab-content col-md-offset-1 col-md-9">
	            <div class="tab-pane active" id="a">
					<div class="row">
	            		<h4><b>Datos Básicos: </b> </h4>
		            </div>

					<form id="datosBasicos" method="POST" action="editDatosBasicos" style="display: inline;">
						<div class="row">		
							<div class="form-group col-md-6">
						  		<label for="nombre">Nombre</label>
							  	<input type="text" class="form-control" name="nombre" value="{{receta.Nombre}}"> 
							 
						  	</div>
					  	</div>

						<div class="row">
							<div class="form-group col-md-8">
								<label for="url">Imagen (URL)</label>
								<input type="text" class="form-control" name="url" value="{{receta.UrlImagen}}">
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="form-group col-md-4">
				        	    <label for="temporada">Temporada</label>
				            	<select class="form-control" name="temporada" selected="{{receta.Temporada}}">
								  	{{#each temporadas}}
									  	<option value={{this}}>{{this.prettyName}}</option>
								  	{{/each}}
				                	<option value={{receta.Temporada}} selected="selected">{{receta.Temporada.prettyName}}</option>
				            	</select>        	
					    	</div>
						</div>

						<div class="row">
							<div class="form-group col-md-4">
								<label for="calorias">Cantidad de Calorías</label>
								<input type="number" class="form-control" placeholder="Calorias" name="calorias" value="{{receta.CantCalorias}}">
							</div>
					  	</div>

						<div class="row">
							<div class="form-group col-md-4">
				        	    <label for="dificultad">Dificultad </label>
				            	<select class="form-control" name="dificultad">
								  	{{#each dificultades}}
									  	<option value={{this}}>{{this.prettyName}}</option>
								  	{{/each}}
								  	<option value={{receta.dificultad}} selected="selected">{{receta.dificultad.prettyName}}</option>
				            	</select>
				    		</div>
				    	</div>

				    	<hr>
						<div class="row">
							<div class="form-group col-md-12">
								<label for="proceso">Proceso de Preparación </label>
					  			<textarea class="form-control" rows="4" name="proceso">{{receta.Preparacion}}</textarea>
				  			</div>
		      			</div>

						<br> 
						<div class="row">
							<button type="submit" form="datosBasicos" class="btn btn-primary pull-right">
		 						<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
							</button>
						</div>						
			
					</form>	
	      		</div>

	            <div class="tab-pane" id="b">
	 				<div class="row">
	 					<h4><b> Ingredientes: </b> </h4>
	 				</div>
					
					<form id="agregarIngrediente" method="POST" action="agregarIngrediente" style="display: inline;">
	      				<div class="form-group row" style="display: flex; align-items: center;">
	      					<div class="col-md-5">
			  					<label for="ingrediente"> <b>Ingrediente</b></label> <br>
			  					<input class="form-control" id="ingrediente" name="ingrediente" type="text"  placeholder="Ingrediente">	  
				  			</div>
							<div class="col-md-4" align="center" style="align-self: flex-end;">
			  					<button type="submit" form="agregarIngrediente" class="btn btn-default  btn-sm pull-right">
			 						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir
								</button>
							</div>
						</div>
					</form>	
			  		
			  		<hr> 
		 			<div class="row">
						<table 	class="table table-striped">
				   			<thead>
			        			<tr>
				        			<th>Ingrediente</th>		
									<th>Quitar</th>
							    </tr>
						    </thead>
						    <tbody>
						   	{{#each ingredientes}}
				      			<tr>
							        <td>{{Nombre}}</td>
							        <td>
	        							<form id="quitarIngrediente{{Id}}" method="POST" action="quitarIngrediente">
      										<input type="hidden" class="form-cpntrol" name="idIngrediente" value={{Id}}>
        			  						<button type="submit" form="quitarIngrediente{{Id}}" class="btn btn-default">
					 							<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #CC0000;"></span>
											</button>
										</form>
									</td>
						      	</tr>
						 	{{/each}}
							</tbody>				
						</table>
	 				</div>	   
	            </div>
	            
	            <div class="tab-pane" id="c">
	 				<div class="row">
	 					<h4><b> Condimentaciones: </b> </h4>
	 				</div>
	 				<div class="row">
		 				<form id="agregarCondimentacion" method="POST" action="agregarCondimentacion" style="display: inline;">
			 				<div class="form-group" style="display: flex; align-items: center;">
			 					<div class="col-xs-5">
			  						<label for="condimento">Condimento</label>
			 					 	<input class="form-control" name="condimento" type="text"  placeholder="Nombre">
								</div>
								
								<div class="col-xs-3">
				  					<label for="cantidad">Cantidad</label>
				  					<input type="number" class="form-control" placeholder="Grs" name="cantidad" >
								</div>
								
								<div class="col-xs-4" align="center" style="align-self: flex-end;">
				  					<button type="submit" form="agregarCondimentacion" class="btn btn-default  btn-sm">
				 						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir
									</button>
								</div>
			 				</div>
		 				</form>
	 				</div>
		 			<hr>
		 			<div class="row">
						<table 	class="table table-striped">
				   			<thead>
			        			<tr>
				        			<th>Condimento</th>
									<th>Cantidad</th>		
									<th>Quitar</th>
							    </tr>
						    </thead>
						    <tbody>
						   	{{#each receta.Condimentaciones}}
				      			<tr>
							        <td>{{this.Condimento}}</td>
							        <td>{{this.Cantidad}}</td>
							        <td>
							        	<form id="quitarCondimentacion{{Id}}" method="POST" action="quitarCondimentacion">
	        			  					<input type="hidden" class="form-cpntrol" name="idCondimentacion" value={{Id}}>
	        			  					<button type="submit" form="quitarCondimentacion{{Id}}" class="btn btn-default">
						 						<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #CC0000;"></span>
											</button>
										</form>
									</td>
						      	</tr>
						 	{{/each}}
							</tbody>				
						</table>
	 				</div>
	            </div>

	            <div class="tab-pane" id="d">
	 				<div class="row">
	 					<h4><b> Subreceta: </b> </h4>
	 				</div>

					<form id="agregarSubReceta" method="POST" action="agregarSubReceta">
		      			<div class="form-group row" style="display: flex; align-items: center;">
		      				<div class="col-md-5">
			  					<label for="idSubReceta"> <b>Subreceta</b></label> <br>
				            	<select class="form-control" name="idSubReceta">
								  	{{#each recetas}}
									  	<option value={{this.Id}}>{{this.Nombre}}</option>
								  	{{/each}}
				            	</select>	  
				  			</div>
							<div class="col-md-4" align="center" style="align-self: flex-end;">
			  					<button type="submit" form="agregarSubReceta" class="btn btn-default  btn-sm pull-right">
			 						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Añadir
								</button>
							</div>	
				  		</div>
				  	</form>
			  		<hr> 
		 			<div class="row">
						<table 	class="table table-striped">
				   			<thead>
			        			<tr>
				        			<th>Subreceta</th>		
									<th>Quitar</th>
							    </tr>
						    </thead>
						    <tbody>
							   	{{#each receta.SubRecetas}}
					      			<tr>
								        <td>{{Nombre}}</td>
								        <td>
								        	<form id="quitarSubReceta{{Id}}" method="POST" action="quitarSubReceta">
								        		<input type="hidden" class="form-cpntrol" name="idSubReceta" value={{Id}}>
		        			  					<button type="submit" form="quitarSubReceta{{Id}}" class="btn btn-default">
							 						<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color: #CC0000;"></span>
												</button>
											</form>
										</td>
							      	</tr>
							 	{{/each}}
							</tbody>				
						</table>
	 				</div>	   
	            </div>
	        </div>
	    </div>
	    <!-- /tabs -->
	</div>

</div>

{{/partial}}
				
{{> layout.hbs }}