{{# partial "titulo" }}	
	<title>QueComemos</title>
{{/partial}}
		
{{# partial "contenido" }}	  

<div class="jumbotron" >
	<div class="container" style="text-align: center"> 
	   <div class="row">
		   	<h1 class="within-jumbo-text" style="color: #FFFFFF; text-shadow: 2px 2px 2px #3b3939;"><b>Un Antojo, Todas las Recetas.</b></h1>
		  	<p class="within-jumbo-text" style="text-shadow: 1px 1px 1px #3b3939;">Consultá como hacer las recetas que más te gusten.</p>
	  	</div>
	  	<br>      
	    <div class="row">
		    <form id="busquedaConsulta" method="GET" action="/recetas">
			    <div class="input-group input-group-lg col-md-offset-2 col-md-8">
			    	<input type="text" class="form-control" placeholder="¿Qué receta buscás?..." name="nombre">
		    		<span class="input-group-btn">
		        		<button class="btn btn-primary" type="submit">
			    			<span class="glyphicon glyphicon-search"></span> 
			    			Consultar
		        		</button>
		      		</span>
			    </div>
			</form>
	    </div>   
  	</div> 
</div>


<div class="container">
	<h2 class="title">{{listadoTitulo}}</h2>  
	<hr>

	<div class="row">
		<div class="row">
			{{#recetas}}
				<div class="col-md-3 col-xs-6 my-thumb-box">
					<a href="/recetas/{{Id}}/show">
						{{#if this.UrlImagen}}
						<div class="img-rounded my-thumb" style="background-image: url({{this.UrlImagen}});">
						{{else}}
						<div class="img-rounded my-thumb my-thumb-blank">
						{{/if}}
							<div class="my-thumb-title">
								<p>{{this.Nombre}}</p>
							</div>
						</div>
					</a>
				</div>
			{{/recetas}}
		</div>
	</div>

	<br><br><br>

 	<div class="col-md-1">	
     </div>
	<div class="col-xs-5">

		<hr><h3 class="text-left">¿Tenés hambre? ¿No sabés que cocinar?</h3>
		<h4 class="text-left">Ya sea que te quieras cuidar en las comidas, o prepararte las cosas mas grasosas y deliciosas....</h4>
		
		<h4 class="text-left">Podés realizar consultas según tus preferencias, y ver el detalle de preparación, ingredientes, calorías, tanto de tus recetas como las nuestras!</h4>
		<br> 
		<a class="btn btn-default btn-sm"  href="/recetas">
			<span class="glyphicon glyphicon-search"></span> Realizá tu consulta Ahora
	 	</a>
 	</div>	
	 
	<div class="col-xs-5">
		<hr>
		<h3 class="text-left">Revisá tu Estado!</h3>
		<h4 class="text-left">En tu perfil encontrarás toda tu información, cosas que te gustan, aquellas 
		cosas que no y tus recetas favoritas. </h4>
		<h4>Podrás consultar tu estado de salud revisando el índice
		de masa corpal calculado de la forma más precisa y exacta posible!</h4>
	 	<br>
	 	<a class="btn btn-default btn-sm"  href="/perfil">
			<span class="glyphicon glyphicon-user"></span> Accedé a tu perfil
	 	</a>
	</div>	

	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  	<article class="col-xs-12 homepage-faqs-content" align="bottom">
        <div class="homepage-faqs-item faqs-item-header homepage-section-header " align="center">
          	<h2 class="title" >¿Seguís con dudas?</h2>
          	<p class="subtitle">Queremos ofrecerte el mejor servicio y la mejor experiencia</p>
        </div>

        <div class="col-md-3 homepage-faqs-item">
          	<h4 class="faqs-item-title" ><font color="#0066FF">¿Puedo consultar todas las veces que quiera?</font></h4>
          	<p class="faqs-item-text">Si, podés consultar todas las veces que quieras, sin restricciones. Podés consultar todos los días en cualquier momento.</p>
        </div>

        <div class="col-md-3 homepage-faqs-item">
          	<h4 class="faqs-item-title"><font color="#0066FF">¿Puedo subir mi propia receta?</font></h4>
          	<p class="faqs-item-text">Claro que sí, de hecho también te podés unir a grupos y compartir recetas entre todos</p>
        </div>

        <div class="col-md-3 homepage-faqs-item">
          	<h4 class="faqs-item-title"><font color="#0066FF">¿Puedo cancelar sin problemas?</font></h4>
          	<p class="faqs-item-text">Podés cancelar en cualquier momento ingresando a tu perfil. Además, te ofrecemos la posibilidad de suspender por 15 o 30 días.</p>
        </div>

        <div class="col-md-3 homepage-faqs-item">
          	<h4 class="faqs-item-title"><font color="#0066FF">¿Tengo periodo de prueba gratis?</font></h4>
          	<p class="faqs-item-text">Te damos 14 días gratis para que pruebes Que Comemos, si ves que no es para vos, cancelás y listo. Si cancelás antes del día 15, no te hacemos ningún cobro.</p>
        </div>
  	</article>	  
</div>      


{{/partial}}
				
{{> layout.hbs }}