{{# partial "titulo" }}	
	<title>{{usuario.Nombre}}</title>
{{/partial}}
		
{{# partial "contenido" }}	  


<div class="row">

 	 	<div class="col-md-1">	
	 	</div>	

 		 <div class="col-xs-3">
 	 		<blockquote>
     		  <h4><b> Nombre </b></h4>
			  <h4> {{usuario.Nombre}} </h4>
	
		      <h4><b> Sexo </b></h4>
      		  <h4> {{usuario.Sexo}}</h4>
      
     		 <h4><b> Fecha de Nacimiento </b> </h4>
        	<h4>{{usuario.FechaDeNacimiento}}</h4>
        
         	<h4><b> Altura </b></h4>
			<h4>{{usuario.Estatura}}</h4>
      
           <h4><b> Complexion</b> </h4>
			<h4>{{usuario.Peso}}</h4>
	
	  		<h4><b> Peso </b></h4>
			<h4>{{usuario.Peso}}</h4>
	
			<h4><b>IMC </b></h4>
			<h4>{{usuario.IMC}}</h4>
	
			<h4> <b> Rutina </b></h4>
			<h4>{{usuario.Rutina}}<h4>
			</blockquote>	
		</div>	
		
	<div class="col-md-3">
	<h4><b>Preferencias Alimenticias</b> </h4>
		<select multiple class="form-control">
		{{#gustos}}
  			<option>{{Nombre}}</option>
  	    {{/gustos}}
		</select>
		
		 
	
		<h4><b>Condiciones Preexistentes </b></h4>
		<select multiple class="form-control">
  			<option>1</option>
 			<option>2</option>
  			<option>3</option>
 			<option>4</option>
  			<option>5</option>
		</select>
			
	
	</div>	
	
	<div class="col-md-1">	
	</div>
	
	<div class="col-md-3">
	<h4><b>Comidas que le disgustan </b></h4>
		<select multiple class="form-control">
  			{{#disgustos}}
  			<option>{{Nombre}}</option>
  	        {{/disgustos}}
		</select>
		
		   <h4><b> Recetas Favoritas</b></h4>
		<select multiple class="form-control">
  		{{#recetasFavoritas}}
  			<option>{{nombre}}</option>
  	      {{/recetasFavoritas}}
		</select>
		
	</div>		
</div>


<div class="row">
 <div class="col-md-9">	
	</div>	
	<div class="col-md-2">
     <a class="btn btn-primary btn-lg btn-block"   href="/">Volver </a>
	
	</div>
</div>
{{/partial}}			
			
				
{{> layout.hbs }}
