{{# partial "titulo" }}	
	<title>Que Comemos??</title>
{{/partial}}
		
{{# partial "contenido" }}	  


<div class="row">
 	 <div class="col-md-5">
		 <h3> Nombre </h3>
		 <h4> {{usuario.Nombre}}</h4>
	</div>	
	
	<div class="col-md-3">
		<h3> Sexo </h3>
      <h4> {{usuario.Sexo}}</h4>
    </div>
    
     <div class="col-md-3">
        <h3> Fecha de Nacimiento </h3>
        <h4>{{usuario.FechaDeNacimiento}}</h4>
     </div>
     
 </div>

<div class="row">
	<div class="col-md-5">
	<h3> Complexion </h3>
	<h4>{{usuario.Complexion}}</h4>
	</div>	
	
	<div class="col-md-2">
	<h3> Altura </h3>
	<h4>{{usuario.Estatura}}</h4>
	</div>
		
	<div class="col-md-1">
	<h3> Peso </h3>
	<h4>{{usuario.Peso}}</h4>
	</div>
	
	<div class="col-md-1">
	<h3> IMC </h3>
	<h4>{{usuario.IMC}}</h4>
	</div>
	
</div>

<div class="row">
	<div class="col-md-5">
	<h3> Preferencias Alimenticias </h3>
		<select multiple class="form-control">
		{{#gustos}}
  			<option>{{Nombre}}</option>
  	    {{/gustos}}
		</select>
	</div>	

	<div class="col-md-5">
	<h3> Comidas que le disgustan </h3>
		<select multiple class="form-control">
  			{{#disgustos}}
  			<option>{{Nombre}}</option>
  	        {{/disgustos}}
		</select>
	</div>	
</div>


<div class="row">
	<div class="col-md-5">
	<h3> Condiciones Preexistentes </h3>
		<select multiple class="form-control">
  			<option>1</option>
 			<option>2</option>
  			<option>3</option>
 			<option>4</option>
  			<option>5</option>
		</select>
	</div>	
	
	<div class="col-md-5">
		<h3> Rutina </h3>
		<h4>{{usuario.Rutina}}<h4>
	</div>
	
</div>

<div class="row">
	<div class="col-md-11">
	<h3> Recetas Favoritas </h3>
		<select multiple class="form-control">
  		{{#recetasFavoritas}}
  			<option>{{nombre}}</option>
  	      {{/recetasFavoritas}}
		</select>
	</div>		
</div>	

<div class="row">
</div>

<div class="row">
	<div class="col-md-11">
     <a class="btn btn-primary btn-lg btn-block"   href="/">Volver </a>
	
	</div>
</div>
{{/partial}}			
			
				
{{> layout.hbs }}
