{{# partial "titulo" }}	
	<title>{{usuario.Nombre}}</title>
{{/partial}}
		
{{# partial "contenido" }}	  

<div class="container">

<div class="row">
     
 	 	<div class="col-md-1">	
	 	</div>	

 		 <div class="col-xs-3">
 	 
			  <h2><b> {{usuario.Nombre}}</b> </h2>
			 
			  <br>
			<blockquote>
		       <h4><b> Sexo <small> {{usuario.Sexo}}</small> </b></h4>
      
     		<hr> <h4><b> Fecha de Nacimiento <small> {{fecha}}</small> </b> </h4>
        	
         	<hr><h4><b> Altura <small> {{usuario.Estatura}}</small></b></h4>
			
            <hr> <h4><b> Complexion  <small> {{usuario.Peso}}</small></b> </h4>
	
	  		<hr><h4><b> Peso <small> {{usuario.Peso}}</small> </b></h4>
			
			<hr><h4><b>IMC <small> {{usuario.IMC}}</small> </b></h4>
			
			<hr><h4> <b> Rutina <small> {{usuario.Rutina}}</small> </b></h4>
			
			</blockquote>	
		</div>	
		
		<div class="col-xs-3">
		<br><br><br>
		<h4><b>Lo que preferis:</b> </h4>
		<select multiple class="form-control">
		{{#gustos}}
  			<option>{{Nombre}}</option>
  	    {{/gustos}}
		</select>
		
		 
	
		<br><h4><b>Condiciones de Salud </b></h4>
		<select multiple class="form-control">
  			{{#each usuario.CondicionesDeSalud}}
  				<option>{{this.Nombre}}</option>
			{{/each}}
		</select>
		</div>	
		
		
		
		
		
	<div class="col-xs-3">
	<br><br><br><h4><b>Lo que no te gusta: </b></h4>
		<select multiple class="form-control">
  			{{#disgustos}}
  			<option>{{Nombre}}</option>
  	        {{/disgustos}}
		</select>
		
		<br> <h4><b> Recetas Favoritas</b></h4>
		<select multiple class="form-control">
  		{{#recetasFavoritas}}
  			<option>{{nombre}}</option>
  	      {{/recetasFavoritas}}
		</select>
		
	</div>	
	
	 <div class="col-xs-5">
	  <hr><h3 class="text-left">No sabes que comer?</h3>
		<h4 class="text-left">Busca las recetas que quieras,
		 en base a tus necesidades y criterios</h4>
	 <a class="btn btn-default btn-sm"  href="/recetas">
	<span class="glyphicon glyphicon-search"></span> Realiza tu consulta ahora
	 </a>
	 </div>	
	 
	 <div class="col-xs-5">
	 <hr><h3 class="text-left">Aburrido?</h3>
		<h4 class="text-left">Vuelve a la Home y revisa nuestras recomendaciones
		seleccionadas para vos !!</h4>
	 <a class="btn btn-primary btn-sm"  href="/">
	<span class="glyphicon glyphicon-home"></span> Vovler a Home
	 </a>
	 </div>	
	 
	 
		
	
</div>

</div>


{{/partial}}			
			
				
{{> layout.hbs }}
