{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas" >
<div class="container">

	<div class="col-xs-offset-1 col-xs-2">
	
	 <h2><b> Filtros</b> </h2>
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre" value="{{nombre}}">
	  </div>
	
		<hr><label>Rango de Calorias</label> 
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Mínimo" name="cantMinCalorias" value="{{cantMinCalorias}}">
		</div>
  
  	
  		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Máximo" name="cantMaxCalorias" value="{{cantMaxCalorias}}">
		</div>
 	

  
		<hr><div class="form-group">
        	    <label class="dificultad">Dificultad</label>
            	<select class="form-control" name="dificultad">
			  	<option></option>
			  	{{#each dificultades}}
				  	<option value={{this}}>{{this.prettyName}}</option>
			  	{{/each}}
			  	{{#if dificultad}}
            		<option value={{dificultad}} selected="selected">{{dificultad.prettyName}}</option>
        		{{/if}}
        	</select>           	
    	</div>
		<hr>

		<div class="form-group">
    	    <label class="temporada">Temporada</label>
        	<select class="form-control" name="temporada">
        		<option></option>
			  	{{#each temporadas}}
				  	<option value={{this}}>{{this.prettyName}}</option>
			  	{{/each}}
			  	{{#if dificultad}}
            		<option value={{temporada}} selected="selected">{{temporada.prettyName}}</option>
        		{{/if}}
            	
        	</select>    
    	</div>
    	
    	<button type="submit" class="form-control btn btn-primary ">
 			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Consultar
		</button>
    
  </div>

	

		

		<div class="col-xs-offset-0 col-md-8">	
		
		<h2 style="text-align: center"><b> Resultados</b> </h2>
			<hr><blockquote>
	<table class="table table-hover" >
		<thead>
			<tr>
			    <th>Id</th>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		{{#recetas}}
			<tr class="clickeable" onclick="document.location='/recetas/{{Id}}/show';">
				<td>{{Id}}</td>
				<td>{{Nombre}}</td>
				<td>{{CantCaloriasTotales}}</td>
				<td>{{Dificultad.PrettyName}}</td>
				<td>{{Temporada.PrettyName}}</td>
			</tr>
		{{/recetas}}	
			</blockquote>	
	</table>
	</div>



</div>

</form>




</div>

{{/partial}}
				
{{> layout.hbs }}