{{# partial "titulo" }}	
	<title>Recetas - QueComemos.me</title>
{{/partial}}
		
{{# partial "contenido" }}	

<form action="/recetas" >
<div class="container">

	<div class="col-xs-offset-1 col-xs-2">
	
	 <h2><b> Filtros</b> </h2>
	  <div class="input-group">
	  	  <label for="nombre">Nombre</label>
		  <input type="text" class="form-control" name="nombre">
	  </div>
	
		<hr><label>Rango de Calorias</label>
		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Mínimo" name="cantMinCalorias">
		</div>
  
  	
  		<div class="input-group">
		  <input type="number" class="form-control" placeholder="Máximo" name="cantMaxCalorias">
		</div>
 	

  
		<hr><div class="form-group">
        	
        	    <label class="dificultad">Dificultad</label>
            	<select class="form-control" name="dificultad">
            	    <option value=""></option>
                	<option value="ALTA">ALTA</option>
                	<option value="MEDIA">MEDIA</option>
                	<option value="BAJA">BAJA</option>
            	</select>
        	
    	</div>
   
 
		<hr><div class="form-group">
        	
        	    <label class="temporada">Temporada</label>
            	<select class="form-control" name="temporada">
            	    <option value=""></option>
                	<option value="PRIMAVERA">Primavera</option>
                	<option value="VERANO">Verano</option>
                	<option value="OTOÑO">Otoño</option>
                	<option value="INVIERNO">Invierno</option>
                	<option value="TODOELAÑO">Todo el Año</option>
            	</select>
        	
    	</div>
    	
    	<button type="submit" class="form-control btn btn-primary ">
 			<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Consultar
		</button>
    
  </div>

	

		

		<div class="col-xs-offset-0 col-md-8">	
		
		<h2 style="text-align: center"><b> Resultados</b> </h2>
			<hr><blockquote>
	<table class="table table-hover" >
		<thead>
			<tr>
			    <th>Id</th>
				<th>Nombre</th>
				<th>Calorias</th>
				<th>Dificultad</th>
				<th>Temporada</th>
			</tr>
		</thead>
		{{#recetas}}
			<tr class="clickeable" onclick="document.location='/recetas/show?id={{Id}}';">
				<td>{{Id}}</td>
				<td>{{Nombre}}</td>
				<td>{{CantCaloriasTotales}}</td>
				<td>{{Dificultad}}</td>
				<td>{{Temporada}}</td>
			</tr>
		{{/recetas}}	
			</blockquote>	
	</table>
	</div>



</div>

</form>




</div>

{{/partial}}
				
{{> layout.hbs }}